<div class="panel-header">
  <div class="main-page-label">Group management</div>
</div>

<div class="group-container">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" [ngClass]="{active: getActiveTab('invite')}" (click)="setActiveTab('invite')"  >
      <a>Invite user</a>
    </li>
    <li role="presentation" [ngClass]="{active: getActiveTab('change')}" (click)="setActiveTab('change')">
      <a>Change name</a>
    </li>
    <li role="presentation" [ngClass]="{active: getActiveTab('usersList')}" (click)="setActiveTab('usersList')">
      <a>Users list</a>
    </li>
    <li role="presentation" [routerLinkActive]="'active'">
      <a role="button" (click)="showPopup('deleteGroupPopup')">Delete group</a>
    </li>
  </ul>
  <div class="row" *ngIf="getActiveTab('invite')">
    <div class="col-md-12">
      <div class="group-invitation-container col-md-12">
        <div class="tab-label">Invite user to group</div>
        <form name="form" (submit)="inviteUser()" [formGroup]="form" class="col-md-6">
          <div class="errors" *ngIf="!form.valid && form.touched">
            <div class="danger">You have to type a user email.</div>
          </div>
          <div class="form-group">
            <label for="email">User email</label>
            <input id="email"
                   type="text"
                   name="email"
                   class="form-control"
                   formControlName="email"
                   required/>
          </div>
          <button class="custom-btn submit-form-btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="getActiveTab('change')">
    <div class="col-md-12">
      <div class="group-invitation-container col-md-12">
        <div class="tab-label">Change group name</div>
        <form name="nameForm" (submit)="changeGroupNamePopup()" [formGroup]="nameForm" class="col-md-6">
          <div class="errors" *ngIf="!nameForm.valid && nameForm.touched">
            <div class="danger">You have to type a new group name.</div>
          </div>
          <div class="form-group">
            <label for="name">Group name</label>
            <input id="name"
                   type="text"
                   name="name"
                   class="form-control"
                   formControlName="name"
                   required/>
          </div>
          <button class="custom-btn submit-form-btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="getActiveTab('usersList')">
    <div class="col-md-12">
      <app-group-users-list></app-group-users-list>
    </div>
  </div>
</div>


<app-dialog-hint [dialogsSuccess]="dialogs.success" [dialogsError]="dialogs.error"></app-dialog-hint>

<app-confirmation-dialog [text]="'Are you sure you want to delete this group?'"
                         [(status)]="popup.deleteGroupPopup" (submit)="deleteGroup()">
</app-confirmation-dialog>

<app-confirmation-dialog [text]="'Are you sure you want to change name of this group?'"
                         [(status)]="popup.changeGroupNamePopup" (submit)="changeGroupName()">
</app-confirmation-dialog>
