<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th *ngIf="idColumn">ID</th>
      <th style="display: none;">Object id</th>
      <th *ngFor="let headerElement of header;">{{ headerElement }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let object of data;let i = index"
        [routerLink]="singleElementUrl !== false ? singleElementUrl + '/' + object[0] : null">
      <td *ngIf="idColumn">{{ (i + 1) }}</td>
      <td *ngFor="let element of object; let name = index" [innerHtml]="getValue(name, element)">
      </td>
    </tr>
  </tbody>
</table>
