:host.non-pointer {
  tbody {
    tr:hover {
      cursor: default !important;
    }
  }
}

tbody {
  tr:hover {
    background-color: lighten(#30343F, 70%);
    cursor: pointer;
  }
  tr > td:nth-of-type(2) {
    display: none;
    border-radius: 10px;
  }
}

table {
  margin: 0;
}

.table-wrap {
  margin: 0 10px;
}
