@import "../../shared/styles/shared";

.panel {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 30px 10px 30px 10px;

  #color4 {
    background-color: $color4;
    color: white;
  }

  .button-header {
    font-size: 2em;
  }

  .errors{
    margin-top: 10px;
    .danger{
      background-color: $error-color;
    }
    .success{
      background-color: $success-color;
    }
  }

  .panel-body {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: 2px;
    border: 1px solid #ccc !important;
  }
}
