.form-group {
  border-bottom: 1px solid #eff2f7;
  padding-bottom: 15px;
  margin-bottom: 15px;
  label {
    color: #797979;
    font-weight: 300;;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }
}
