<div class="panel-header">
  <div class="main-page-label">Account management</div>
</div>

<div class="account-container">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" [routerLinkActive]="'active'">
      <a [routerLink]="['/panel', 'account', 'groups']">My groups</a>
    </li>
    <li role="presentation" [routerLinkActive]="'active'">
      <a [routerLink]="['/panel', 'account', 'password']">Change password</a>
    </li>
  </ul>

  <div class="account-options">
    <router-outlet>

    </router-outlet>
  </div>
</div>
