<div id="sidenav" class="hidden-xs hidden-sm col-md-2 col-lg-2">
  <img class="logo" src="assets/logo/logo.png">
  <a role="button" class="team-header" [routerLink]="['/group']" routerLinkActive="active">
    <div tooltip="{{ teamName }}"
         [tooltipDisabled]="false"
         [tooltipAnimation]="true"
         tooltipPlacement="top">
      <span class="team-label">{{ teamName }}</span>
    </div>
  </a>
  <ul>
    <li *ngFor="let element of data;">
      <app-menu-element
        [header]="element.header"
        [route]="element.route"
        [icon]="element.icon"
        [conditional]="element.conditional"
      ></app-menu-element>
    </li>
    <li>
      <app-menu-element [header]="'Logout'" (click)="logout()" class="logout"
                        [icon]="'assets/icons/logouticon.svg'"></app-menu-element>
    </li>
  </ul>
</div>

<div id="topnav" class="hidden-md hidden-lg col-sm-12 col-xs-12 hidden-md hidden-lg">
  <div class="nav-header">
    <img class="logo" src="assets/logo/logo.png">
    <div class="team-header">
      {{ teamName }}
    </div>

    <label for="nav-trigger">☰</label>
    <input type="checkbox" id="nav-trigger" />
    <div id="nav-collapsed">
      <ul>
        <li *ngFor="let element of data;">
          <app-menu-element
            [header]="element.header"
            [route]="element.route"
            [icon]="element.icon"
            [conditional]="element.conditional"
          ></app-menu-element>
        </li>
        <li>
          <app-menu-element [header]="'Logout'" (click)="logout()" class="logout"
                            [icon]="'assets/icons/logouticon.svg'"></app-menu-element>
        </li>
      </ul>
    </div>
  </div>
</div>
