<div class="row">
  <img class="menu-border" src="assets/left-menu/sidebartop.png">
  <img class="logo" src="assets/logo/logowhite.svg">
  <h3>Team</h3>
  <ul >
    <li *ngFor="let element of data;">
      <app-menu-element
        [header]="element.header"
        [route]="element.route"
        [icon]="element.icon"
      ></app-menu-element>
    </li>
    <li>
      <app-menu-element [header]="'Logout'" (click)="logout()"
      [icon]="data[0].icon"></app-menu-element>
    </li>
  </ul>
  <img class="menu-border menu-border-bottom" src="assets/left-menu/sidebarbottom.png">
</div>
