@import "../styles/shared";

$logoAndTitleMargin: 5px;

#sidenav {
  height: 100%;
  padding: 0;
  background: darken($color4, 10%);
}

#topnav {
  padding: 0;
  background: darken($color4, 10%);
}

.logo {
  margin-left: $logoAndTitleMargin;
  width: 90%;
  height: auto;
  margin-top: 10px;
}

.team-header {
  display: block;
  margin-left: $logoAndTitleMargin;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 2em;
      vertical-align: middle;
      width: 7px;
    }
    .team-label {
      display: inline-block;
      color: whitesmoke;
      font-size: 2em;
      font-weight: 900;
      padding: 4px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: calc(100% - 12px);
    }
  }

  margin-top: 10px;
}

.menu-border {
  width: 100%;
  height: auto;
}

.menu-border-bottom {
  position: absolute;
  bottom: 0;
}

ul {
  padding: 0;
  li {
    list-style: none;
    color: white;
    opacity: .7;
  }
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  right: 30px; top: 15px;
  z-index: 2;
  font-size: 2em;
  cursor: pointer;
}

.nav-trigger + label, .nav-collapsed {
  transition: top 0.2s;
}


.nav-trigger:checked ~ .nav-collapsed {
  top: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
