@import "../styles/shared";

$logoAndTitleMargin: 5px;

:host {
  display: block;
  background-color: $menuBackground;
  height: 100%;
}

.logo{
  margin-left: $logoAndTitleMargin;
  width: 90%;
  height: auto;
  margin-top: 10px;
}

.team-header{
  display: block;
  margin-left: $logoAndTitleMargin;
  img{
    height: 2em;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  .team-label{
    display: inline-block;
    color: whitesmoke;
    font-size: 2em;
    font-weight: 900;
    padding: 4px;
  }
  margin-top: 10px;
}

.menu-border {
  width: 100%;
  height: auto;
}

.menu-border-bottom {
  position: absolute;
  bottom: 0;
}

ul{
  padding:0;
  li {
    list-style: none;
    color: white;
    opacity: .7;
  }
}
