@import "../../../shared/styles/shared";


.header-container {
  height: 50px;
  background: darken($color4, 5%);

  .logo {
    float:left;
    max-height: 40px;
    margin-top: 5px; margin-left: 130px;
  }

  .nav-right-links {
    margin-right: 130px;
    float: right;
    margin-top: 11px;
    font-size: 1.2em;
  }

  a {
    color: lighten($mainBackground, 60%);
    border-bottom: 1px solid lighten($mainBackground, 60%);
    margin-right: 10px;
  }

  a:hover {
    color: white;
    border-bottom: 2px solid white;
  }
}

@media (max-width: 991px) {
  .header-container {
    .logo {
      margin-left: 20px;
    }
    .nav-right-links {
      margin-right: 20px;
    }
  }
}
