.main-content-container {
  padding:20px;
  margin:20px;
  border: 2px solid rgba(0,0,1,0.1);
  border-radius: 5px;
  background: white;
}
.body-white {
  padding:0px;
  margin: 0px;
  background: white;
  width: 100%;
  height: 100%;
}
app-left-menu {
  position: fixed;
}
