<div class="panel-header">
  <img src="assets/icons/3.png">
  <span class="label">Licenses</span>
</div>
<div class="panel-header1">
  <img src="assets/icons/4.png">
  <span class="label">Application list</span>
  <app-form-buttons [creationLink]="'/panel/licenses/application/add/new'"></app-form-buttons>
</div>
<app-data-table [data]="data"
                [header]="header"
                [idColumn]="'true'"
                [singleElementUrl]="'/panel/licenses/application/'"
                [order]="order"
                [callbacks]="callbacks"
></app-data-table>
