/* RGB PALLETE */
$color1: #B9C410;
$color2: #D8F793;
$color3: #447604;
$color4: #30343F;
$color5: #3C6E71;

$logo-color: #7D961E;
$mainBackground: #30343F;

/* Nav Colors */
$navBg: darken($color4, 5%);
$hoverNavHighlight: darken($logo-color, 20%);
$activeNavHighlight: $hoverNavHighlight;

/* Flash error colors */
$error-color: #FF3333;
$success-color: yellowgreen;

$mainbutton-color: $color1;
$submit-btn: $mainbutton-color;


* {
 font-family: 'Lato', sans-serif !important;
 text-decoration: none !important;
}

.panel-header {
  background: $color4;
  height: 60px;
  border-bottom: 2px solid darken($logo-color, 5%);

  .main-page-label {
    float: left;
    height: 100%;
    color: white;
    background: darken($color1, 5%);
    font-size: 2em;
    font-weight: 900;
    padding: 7px 10px 0 10px;
  }
  .sub-page-label {
    float: left;
    height: 100%;
    color: white;
    font-size: 2em;
    font-weight: 900;
    padding: 7px 10px 0 10px;
  }
}

.flash-heading {
  color: white;
  margin: 0px 5px;
}

.button-header {
  background: white;
  padding: 5px 10px 5px 10px !important;
}

.input-box {
  background-color: lighten($color4, 70%);
}

.logo{
  margin: 0 auto;
}

.errors > div {
  padding: 10px;
  margin-bottom: 10px;
}

.danger {
  background-color: $error-color;
  border-radius: 5px;
}
.success {
  background-color: $success-color;
}

/* BUTTONS */

.custom-btn {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset, 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.08);
  background: $mainbutton-color;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px;
  font-weight: 700px;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  text-align: center;
  outline: none;
  border: none;
}

.custom-btn.danger { background: $error-color }

.custom-btn:hover {
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.3) inset, 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.08);
  background: lighten($mainbutton-color, 3%);
}

.custom-btn.danger:hover {
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.3) inset, 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.08);
  background: darken($error-color, 5%);
}

.submit-btn{
  background: $submit-btn;
}

.submit-btn:hover{
  background: lighten($submit-btn, 2%) !important;
}
