$menuBackground: #30343F;
$activeMenuHighlight: #1B1717;
$logo-color: #7d961e;
/* RGB PALLETE */
$color1: #B9C410;
$color2: #D8F793;
$color3: #447604;
$color4: #30343F;
$color5: #3C6E71;
$color6: lighten($color5, 5%);
$color7: darken($color5, 5%);

$error-color: #ff3333;
$success-color: yellowgreen;

* {
 font-family: 'Lato', sans-serif !important;
 text-decoration: none !important;
}

.panel-header {
  display: block;
  img {
    height: 2em;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  .label{
    display: inline-block;
    color: black;
    font-size: 2em;
    font-weight: 900;
    padding: 4px;
    opacity: .7;
  }
}

.panel-header1   {
  display: block;
  border-top: 2px solid rgba(0,0,1,0.1);
  padding-top: 10px;
  img {
    height: 2em;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  .label{
    display: inline-block;
    color: black;
    font-size: 2em;
    font-weight: 900;
    padding: 4px;
    opacity: .7;
  }
}

.input-box {
  background-color: lighten($color4, 70%);
}

.custom-btn {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset, 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.08);
  background: $color1;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px;
  font-weight: 700px;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  text-align: center;
  outline: none;
  border: none;
}
.blue{
  background: $color4;
}
.blue:hover{
  background: lighten($color4, 2%) !important;
}
.custom-btn:hover {
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.3) inset, 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.08);
  background: lighten($color1, 2%);
}

.logo{
  margin: 0 auto;
}
