<div class="landing-container">
  <app-nav></app-nav>
  <div class="container-fluid logo-container">
    <div class="col-sm-12 col-xs-12 col-md-7 col-lg-7">
      <img class="logo img-responsive" src="assets/logo/logo.png">
      <img class="hidden-sm hidden-xs ok-box img-responsive" src="assets/icons/ok-box.png">
    </div>

    <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5 get-started-container">
      <div class="get-started-wrap">
        <p><strong><i>License It</i></strong> is a license managment system for developers.</p>
        <p><strong>It provides all the essential tools, to help you</strong></p>
        <p>govern your applications users and clients.</p>

        <div class="btn-container col-sm-12 col-md-12 col-lg-12 col-xs-12">
          <a class="get-started-btn" routerLink="../login" routerLinkActive="active">Get started</a>
          <br/>
          <a class="register-link">Click here to register</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid big-text text-center col-md-12 col-lg-12 col-sm-12 col-xs-12 alt-color">
    <div>
      <p>License It is a license managment system for developers.</p>
      <p><strong>It provides all the essential tools, to help you</strong></p>
      <p>govern your applications users and clients.</p>
    </div>
  </div>

  <div class="container-fluid bignum-col-container pagination-centered text-center col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="bignum-container col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <p class="bignum">1</p>
      <p><strong>It provides all the essential tools, to help you</strong></p>
      <p>govern your applications users and clients.</p>
    </div>
    <div class="bignum-container col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <p class="bignum">2</p>
      <p><strong>It provides all the essential tools, to help you</strong></p>
      <p>govern your applications users and clients.</p>
    </div>
    <div class="bignum-container col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <p class="bignum">3</p>
      <p><strong>It provides all the essential tools, to help you</strong></p>
      <p>govern your applications users and clients.</p>
    </div>
  </div>
</div>
