
  <div class="container-fluid logo-container">
    <div class="col-sm-12 col-xs-12 col-md-7 col-lg-7">
      <img class="logo img-responsive" src="assets/logo/logo.png">
      <img class="hidden-sm hidden-xs ok-box img-responsive" src="assets/icons/ok-box.png">
    </div>

    <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5 get-started-container">
      <div class="get-started-wrap">
        <p>We at <strong>License It</strong> believe, that creating a great product</p>
        <p>should come hand in hand with user hapiness.</p>
        <p>That is why we provide all the basic functionality <strong>free of charge</strong>.</p>
        <p>Go ahead and try out <strong>License It</strong>, we hope it fits your needs. :)</p>
        <p> - <i>License It team</i></p>

        <div class="btn-container col-sm-12 col-md-12 col-lg-12 col-xs-12">
          <a class="get-started-btn" [routerLink]="['register']" >Get started</a>
          <br/>
          <a class="login-link" routerLink="../login" routerLinkActive="active">Click here to login</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid big-text text-center col-md-12 col-lg-12 col-sm-12 col-xs-12 alt-color">
    <div>
      <p>License It is a license managment system for developers.</p>
      <p><strong>It provides all the essential tools, to help you</strong></p>
      <p>govern your applications users and clients.</p>
    </div>
  </div>

  <div class="container-fluid bignum-col-container pagination-centered text-center col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="bignum-container col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <p class="bignum">1</p>
      <p><strong>Register and create a group.</strong></p>
      <p>Creating a group gives you access to your very own group site. From there you can add applications to it and manage users and clients. You can also join an existing group if you got an invitiation. Don't worry! Your account can create and join multiple groups.</p>
    </div>
    <div class="bignum-container col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <p class="bignum">2</p>
      <p><strong>Connect License It with your application via our API.</strong></p>
      <p>Go to our <strong>Docs</strong> site to help guide you through the setup process. We need this connection in order to verify your clients licenses, check if they haven't expired and block them access to your app if needed.</p>
    </div>
    <div class="bignum-container col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <p class="bignum">3</p>
      <p><strong>Add clients and their licenses and watch their stats!</strong></p>
      <p>Now you can add clients and their licenses. You can deactivate licenses as well as schedule expiration dates and many more. A worthy note to add is that one client can have multiple licenses!</p>
    </div>
  </div>
