<div class="landing-container">
  <div class="fixed">
    <p class="row"><img class="logo img-responsive col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2" src="assets/logo/logo.png"></p>
    <p><a class="get-started-btn" routerLink="../login" routerLinkActive="active">Get Started</a></p>
  </div>
  <div class="unfixed">
    <img src="assets/logo/landing.svg">
    <div class="about">
      <p>License It is a license managment system for developers.</p>
      <p><strong>It provides all the essential tools, to help you</strong></p>
      <p>govern your applications users and clients.</p>
    </div>
  </div>
</div>
