<div class="landing-container">
  <app-nav></app-nav>

  <div class="container-fluid logo-container big-text text-center col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <img class="logo img-responsive" src="assets/logo/logo.png">
    <p><strong>About Us</strong></p>
    <p>The codebase for our application is fully open source.</p>
    <p>Feel free to propose your own contributions and give us feedback.</p>
    <a href="https://github.com/mateuszwasowski/license-it">
      <img src="assets/logo/owl.png">
      Frontend App
    </a>
    <a href="https://github.com/mateuszwasowski/license-it-api">
      <img src="assets/logo/owl.png">
      API
    </a>
  </div>

  <div class="container-fluid text-center col-md-12 col-lg-12 col-sm-12 col-xs-12 alt-color">
    <div>
      <p>We are a small team of developers with a similar vision and a set goal.</p>
      <p>Our aim is to create great software that is functional, beautiful and a joy to use.</p>
      <p>If you think we are doing a decent job, give as a shout out!</p>
      <p>You can reach us via email:</p>
      <p>jakisemail@mail.com</p>
    </div>
  </div>
</div>
