<div class="panel-header">
  <img src="assets/icons/3.png">
  <span class="label">Licenses</span>
</div>
<div class="panel-header1">
  <img src="assets/icons/4.png">
  <span class="label">Licenses list for application <span>{{ appName }}</span></span>
  <app-form-buttons [creationLink]="singleElement"></app-form-buttons>
</div>
<app-data-table [data]="data"
                [header]="header"
                [idColumn]="'true'"
                [singleElementUrl]="'/panel/licenses/application/' + id + '/license/'"
                [order]="order"
                [callbacks]="callbacks"
></app-data-table>
