<section class="panel">
  <header class="panel-heading">
    {{ formObject.header }}
  </header>
  <div class="panel-body">
    <form class="form-horizontal " method="get">
      <app-input-row
        [item]="item"
        (valueUpdate)="handleUpdate($event)"
        *ngFor="let item of formObject.list; let i = index;">
      </app-input-row>

      <button type="submit" class="custom-btn blue" (click)="showModel($event)">Submit</button>
      <a class="custom-btn" (click)="backToPrevious()">Back to list</a>
    </form>
  </div>
  <div class="errors" *ngIf="validationMessage.length > 0">
    <div *ngIf="isErrorValidation"  class="panel-heading danger">{{ validationMessage }}</div>
    <div *ngIf="!isErrorValidation"  class="panel-heading success">{{ validationMessage }}</div>
  </div>
</section>
