@import "../../shared/styles/shared";

.button-header {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: .9;
}

.panel {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 30px;

  .errors {
    margin-top: 10px;
    .danger {
      background-color: $error-color;
    }
    .success {
      background-color: $success-color;
    }
  }
  .panel-body {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: 2px;
    margin: 10px;
    border: 1px solid #ccc !important;
  }
}
