<section class="panel">
  <header class="panel-heading">
    {{ formObject.header }}
    <button class="btn btn-success text-right" routerLink="{{ formObject.urlFrontedList }}">Wróć do listy</button>
  </header>
  <div class="panel-body">
    <form class="form-horizontal " method="get">
      <cuporg-input-row
        [item]="item"
        (valueUpdate)="handleUpdate($event)"
        *ngFor="let item of formObject.list; let i = index;">
      </cuporg-input-row>
      <div class="validation-message" ng-if="validationMessage.length > 0">
        <span>{{ validationMessage }}</span>
      </div>
      <button type="submit" class="btn btn-primary" (click)="showModel($event)">Potwierdz</button>
    </form>
  </div>
</section>
