<app-single-choose-container [header]="'Set your current group'">
  <form name="form" (ngSubmit)="changeGroup()">
    <div class="form-group">
      <label for="group">Group</label>
      <select id="group"
              type="text"
              name="group"
              class="form-control"
              [(ngModel)]="group"
              required>
        <option value="{{ option.value }}" *ngFor="let option of options">
          {{ option.name }}
        </option>
      </select>
    </div>
    <button class="custom-btn submit-form-btn">Submit</button>
    <button class="custom-btn submit-form-btn" [routerLink]="['/group', 'new']">Crete new group</button>
  </form>
</app-single-choose-container>
