<app-single-choose-container [header]="'Select group'">
  <div class="row">
    <div class='header-label'>
      <span>Sign in to existing group</span>
    </div>
    <div class="form-group">
      <div *ngFor="let option of options" class="dynamicTile">
        <div class="col-sm-3 col-xs-4">
          <div class="tile group-tile">
            <button (click)="submitGroup(option)">
              <img src="/assets/icons/default-group-icon.png" class="img-responsive"/>
              <div class="tile-label">{{ option.groupName }}</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="header-label">
      <span>Create a new group</span>
    </div>
    <div class="dynamicTile">
      <div class="col-sm-3 col-xs-4">
        <div class="tile">
          <button [routerLink]="['/group', 'new']">
            <img src="/assets/icons/plus.png" class="img-responsive"/>
          </button>
        </div>
      </div>
    </div>
  </div>
</app-single-choose-container>
