@import "../../shared/styles/shared";

.header-label {
  padding-left: 5px;
  margin: 5px;
  border-bottom: 1px solid rgba(256, 256, 256, 0.5);
}

.dynamicTile > div{
  padding: 5px;
}

.dynamicTile > div {
  padding: 5px;
}

.tile {
  border: 2px solid white;
  height: 167px;
  button {
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.tile-label {
  word-wrap: break-word;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100px;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.group-tile:hover .tile-label {
  visibility: visible;
  opacity: 1;
}
