<app-single-choose-container [header]="'Create new group'">
  <form name="form" (submit)="addGroup()" [formGroup]="groupForm">
    <div class="errors" *ngIf="!isValid$">
      <div class="bg-danger">Something went wrong while saving. Please try again.</div>
    </div>
    <div class="errors" *ngIf="!groupForm.valid && groupForm.touched">
      <div class="danger">All fields are required.</div>
    </div>
    <div class="form-group">
      <label for="group">Name</label>
      <input id="group"
              type="text"
              name="group"
              class="form-control"
              formControlName="name"
              required />
    </div>
    <button class="custom-btn submit-form-btn">Submit</button>
    <button class="custom-btn submit-form-btn" [routerLink]="['/group']">Back</button>
  </form>
</app-single-choose-container>
